<% @report = 0%>
<div class="col-md-6 col-md-offset-3">
	<h2 class="proyect_name alert alert-info">
    	<strong>Viatico Nuevo</strong> 
  	</h2>
	<div class="space_form">
		<%= render 'form' %>
	</div>

	<%= link_to ' Regresar', [@zone,@proyect], class: "btn btn-info float_right " %>
</div>