<div class="col-md-6 col-md-offset-3">
	<h1 class="center">Editando Area de proyectos</h1>
	<div class="space_form">
		<%= render 'form' %>
	</div>
	<%= link_to 'Ir a Area de proyecto', [@zone],class: "btn btn-primary" %> 
	<%= link_to ' Regresar', zone_path, class: "btn btn-info float_right " %>
</div>