
	<p>Hola <%= @resource.email %>!</p>

	<p>Se solicito un cambio de password en su cuenta. Siga el siguiente enlace para generar solicitud</p>

	<p><%= link_to 'Cambiar password', edit_password_url(@resource, reset_password_token: @token) %></p>

	<p>Si no solicitaste cambio de password, ignora este mensaje.</p>
	<p>Su contraseña no cambiará hasta que acceda al enlace anterior.</p>