<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada a causa de muchos ingresos fallidos</p>

<p>Sigue el siguiente enlace para desbloquear tu cuenta</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
